@model Video


<a onclick="playSong('@Model.Url')" class="aJnUvVOMmYc td_click_video td_click_video_youtube" data-video-id="aJnUvVOMmYc">
    <div class="td_video_thumb"><img src="/img/@Model.Image" alt="Video thumbnail"></div>
    <div class="td_video_title_and_time">
        <div class="td_video_title">@Model.Tittle</div>
        <div class="td_video_time">@Model.Date</div>
    </div>
</a>